/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin:0px;
  padding:0px;
  font-family: arial;
  background-color:#e8e8e8;
}

header {
  background-color:black;
  width:100%;
  color:white;
  height:50px;
  line-height:50px;
  /* IE10 Consumer Preview */
background-image: -ms-linear-gradient(top, #474747 0%, #000000 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #474747 0%, #000000 100%);
/* Opera */
background-image: -o-linear-gradient(top, #474747 0%, #000000 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #474747), color-stop(1, #000000));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #474747 0%, #000000 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom, #474747 0%, #000000 100%);
}
header a {
  text-decoration:none;
  color:white;
    font-size:14px;
  padding-right:20px;
}
#profile_nav {
  float:right;
}
.profile_link {
  color:red;
}
#logo {
  color:white;
  font-size:30px;
  text-decoration:none;
  margin-left:20px;
}
#logo:hover {
  color:red;
}
#login_link {
  float:right;
}
#ask {
  margin-right: 240px;
  color: #b3cee1;
}
a {
  color: teal;
  text-decoration: none;
}
#q_titles a:hover {
  color: #828CBD;
}
.container {
  margin:10px;
  margin-top:2px;
  background-color:#e8e8e8;
}
#login_form {
  padding:20px;
  background-color:black;
  width:450px;
  position:absolute;
  right:0px;
  top:50px;
  border-bottom-left-radius:10px;
  display:none;
}
.tags {
  display:inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.tags a{
  background-color:#E0EAF1;
  border:1px solid #b3cee1;
  box-shadow: 2px 2px 2px 2px #ccc;
  text-decoration: none;
  color: #0077cc;
  padding: 2px;
}
.tags a:hover {
  background-color: #828CBD;
  color: white;
}
tr:before {
  border-top:1px solid gray;
}


#search_form {
float:right;
}
.left {
float:left;
margin-left: 80px;
margin-right:40px;
margin-bottom: 40px;
width: 40%;
border: 3px solid white;
background-color:gainsboro;
box-shadow: 2px 2px 2px 2px #ccc;
}
#right {
float:right;
margin-left: 40px;
margin-right:80px;
border: 3px solid white;
width: 40%;
background-color:gainsboro;
box-shadow: 2px 2px 2px 2px #ccc;
}
#personal_info {
  padding: 30px;
  padding-top: 20px;
}
#your_stuff {
  padding: 30px;
  padding-top: 10px;
  height: 100%;
}
.welcome {
  margin-left:80px;
  color:darkslategray;
}
#photo {
  text-align: center;
}
#photo img {
  border: 3px solid white;
  box-shadow: 2px 2px 2px 2px #ccc;
}
#personal_info_title {
  text-align: center;
}
.edit_links {
  margin-left: 30px;
  float:right;
}
.delete_links{
  margin-left: 30px;
  float:right;
}
.increase-vote img{
  width:30px;
  height:30px;
  float:left;
  clear:left;
  text-align:center;
}

.decrease-vote img{
  width:30px;
  height:30px;
  float:left;
  clear:left;
  text-align:center;
}

table {
  border-collapse: separate;
}
#edit_profile {
  padding: 30px;
  padding-top: 20px;
}
#edit_profile_link {
  float:right;
}
#signup {
  padding-left: 30px;
  padding-top: 10px;
}
#edit_question {
  padding: 30px;
  padding-top: 20px;
}
.explain_badges {
  padding: 30px;
  padding-top: 20px; 
  text-align: center;
}
.badge img {
  border-radius: 150px;
  box-shadow: 4px 4px 4px 4px #ccc;
  margin-left: 3px;
  margin-right: 3px;
  border: 3px solid gainsboro;
}
#badge_container1 {
float:left;
margin-left: 80px;
margin-right: 50px;
margin-bottom: 40px;
padding-left: 20px;
width: 20%;
border: 3px solid white;
background-color:gainsboro;
box-shadow: 2px 2px 2px 2px #ccc;
}
#badge_container2 {
float:left;
margin-bottom: 40px;
margin-right: 50px;
padding-left: 20px;
width: 20%;
border: 3px solid white;
background-color:gainsboro;
box-shadow: 2px 2px 2px 2px #ccc;
}
#badge_container3 {
float:left;
margin-bottom: 40px;
padding-left: 20px;
width: 20%;
border: 3px solid white;
background-color:gainsboro;
box-shadow: 2px 2px 2px 2px #ccc;
}
#back_profile {
  clear:both;
  margin-right: 20px;
}

td{
  border-bottom:1px solid gray;
  height: 110px;
  padding-top: 30px;
  padding-bottom: 30px;
}


